.header__link {
    color: #2f80ed;
    text-decoration: none;
    z-index: 6;
  }

  .header__link:hover{
    opacity: 0.5;
    visibility: hidden;
    transition: opacity 0.5s, visibility 1s linear 0.3s;
  }