.khan__buy-link {
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  z-index: 0;
  color: #2f80ed;
  text-decoration: none;
}

.khan__buy-link:hover {
  opacity: 0.4;
  -webkit-transition: 0.35s;
  -o-transition: 0.35s;
  transition: 0.35s;
}